nav {
    width: 100%;
    min-height: 10vh;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    i {
        font-size: 1.5em;
    }
}

.logo {
    font-size: 1.5em;
    color: colors.$sable;
    text-decoration: none;
}

.nav-links {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-link {
    color: #000;
    text-decoration: none;
    transition: 0.25s;
}

.nav-link:hover {
    color: colors.$sable;
}

@media screen and (max-width: 900px) {
    .nav-links {
        width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .nav-links {
        width: 75%;
    }
}